@model MovieBooker.Models.Theater
@{
    ViewBag.Title = "TheaterList";
    Layout = "../Shared/MovieBookerLayout.cshtml";
}

<h2>상영관 목록</h2>

<html>
<head>
    <title></title>

</head>
<body>
    <table  border="1" id="TheaterTable" align="center" class="stats">
        <tr>
            <td align="center" class="hed">상영관 ID </td>
            <td align="center" class="hed">총 좌석수</td>
            <td align="center" class="hed">마지막 열</td>
            <td align="center" class="hed">열당 좌석수</td>
            @*<th></th>*@
        </tr>
        @foreach (MovieBooker.Models.Theater theater in ViewBag.Theaters)
        {
            <tr>
                <td align="center">@theater.TheaterID</td>
                <td align="center">@theater.Seatcount</td>
                <td align="center">@theater.Seatrowcount</td>
                <td align="center">@theater.Seatnumbercount</td>

        </tr>
        }


    </table>
    <script type="text/javascript">
        SetTheatersToTable();
    </script>

    <table align="center">
        <tr>
            @using (Html.BeginForm("NewTheater", "Theater"))
            {
                <td align="center" class="h1">@Html.TextBoxFor(m => m.Seatrowcount, new { size = 2 })관 </td>
                <td align="center" class="h1">@Html.TextBoxFor(m => m.Seatnumbercount, new { size = 2 })열</td>
                <td align="center">
                    <input type="submit" class="button samll gray" value="상영관 추가" />
                </td>
            }
            @using (Html.BeginForm("loginAdmin", "Home"))
            {
                <td align="center">
                    <input type="submit" class="button samll gray" value="이전페이지" />
                </td>
            }
        </tr>
        <tr>
            <td colspan="3" class="h1">
                * 상영관은 Max열 Max번까지 입력해주세요.
            </td>
        </tr>
    </table>
   
    <br />
</body>
</html>