@model MovieBooker.Models.Bookinginfo
@{
    ViewBag.Title = "BookingList";
    Layout = "../Shared/MovieBookerLayout.cshtml";
}

<h2>고객님의 예매 내역입니다.</h2>

<html>
<head>
    <title></title>
</head>
<body>
    <table align="center" border="1">
        <tr>
            <th class="h1">상영 일자</th>
            <th class="h1">영화 제목</th>
            <th class="h1">상영관</th>
            <th class="h1">좌석 열</th>
            <th class="h1">좌석 번호</th>
            <th class="h1">관람 등급</th>
            <th class="h1">예매 취소</th>
        </tr>
        @foreach (MovieBooker.Models.Bookinginfo book in ViewBag.Bookings)
        {
            <tr>
                <td align="center">@book.Playdatetime</td>
                <td align="center">@book.Moviename</td>
                <td align="center">@book.TheaterID</td>
                <td align="center">@book.Seatrow</td>
                <td align="center">@book.Seatnumber</td>
                <td align="center">@book.Viewingclass</td>
                <td align="center">
                    @using (Html.BeginForm("RemoveBooking", "Book"))
                    {
                        @Html.Hidden("bookinfo.ID", book.ID)
                        @Html.Hidden("bookinfo.MovieID", book.MovieID)
                        @Html.Hidden("bookinfo.TheaterID", book.TheaterID)
                        @Html.Hidden("bookinfo.Playdatetime", book.Playdatetime)
                        @Html.Hidden("bookinfo.Seatrow", book.Seatrow)
                        @Html.Hidden("bookinfo.Seatnumber", book.Seatnumber)
                        @Html.Hidden("bookinfo.Moviename", book.Moviename)
                        @Html.Hidden("bookinfo.Bookedcount", book.Bookedcount)
                        @Html.Hidden("bookinfo.Viewingclass", book.Viewingclass)

                        if (DateTime.ParseExact(book.Playdatetime, "yyyy-MM-dd tt h:mm:ss", null) > DateTime.Now)
                        {
                            <input type="submit" value="제거" />
                        }
                        else
                        {
                            @Html.Label("기간만료")
                        }

                    }
                </td>
            </tr>
        }
        <tr>
            <td colspan="7" align="right"><input type="button" value="이전페이지" onclick="location.href='@Url.Action("loginMember", "Home")'" /></td>
        </tr>
    </table>
    <br />
    <br />
</body>
</html>