@model MovieBooker.Models.Member
@{
    ViewBag.Title = "MemberList";
    Layout = "../Shared/MovieBookerLayout.cshtml";
}

<h2>고객 목록</h2>

<html>
<head>
    <title></title>

</head>
<body>
    <table  id="MemberTable" class="stats">
        <tr>
            <td class="hed">고객 ID </td>
            <td class="hed">이름</td>
            <td class="hed">나이</td>
            <td class="hed">성별</td>
            <td class="hed"></td>
        </tr>
        @foreach (MovieBooker.Models.Member member in ViewBag.Members)
        {
            if (member.ID.Trim().Equals("admin"))
            {
                continue;
            }
            <tr>
                <td>@member.ID</td>
                <td>@member.Name</td>
                <td>@member.Age</td>
                @if (@member.Sex.Equals("True"))
                {
                    <td>남자</td>
                }
                else
                {
                    <td>여자</td>
                }
                
                <td>@using (Html.BeginForm("RemoveMember", "Member"))
                {
                    @Html.Hidden("member.ID", member.ID)
                    <input type="submit" value="제거" />
                }
                </td >
            </tr>
        }
    </table>
    <br />
    <table>
        <tr>
            <th>
                <input type="button" value="이전페이지" onclick="location.href='@Url.Action("loginAdmin", "Home")'" />
       
            </th>
        </tr>
    </table>
    <br />
</body>
</html>