@model MovieBooker.Models.Member
@{
    ViewBag.Title = "MemberList";
}

<h2>고객 목록</h2>

<html>
<head>
    <title></title>

</head>
<body>
    <table border="1" id="MemberTable">
        <tr>
            <th>고객 ID </th>
            <th>이름</th>
            <th>나이</th>
            <th>성별</th>
            <th></th>
        </tr>
        @foreach(MovieBooker.Models.Member member in ViewBag.Members)
        {
            if (member.ID.Trim().Equals("admin"))
            {
                continue;
            }
            <tr>
                <td>@member.ID</td>
                <td>@member.Name</td>
                <td>@member.Age</td>
                <td>@member.Sex</td>
                <td>@using (Html.BeginForm("RemoveMember", "Member"))
                {
                    @Html.Hidden("member.ID", member.ID)
                    <input type="submit" value="제거" />
                }
                </td >
            </tr>
        }
    </table>
    <table>
        <tr>
            <th>
                <input type="button" value="이전페이지" onclick="location.href='@Url.Action("loginAdmin", "Home")'" />
       
            </th>
        </tr>
    </table>
</body>
</html>