@model MovieBooker.Models.MovieAndTheater
@{
    ViewBag.Title = "영화 정보를 기입하여 주세요.";
    Layout = "../Shared/MovieBookerLayout.cshtml";
}

<h2>새로운 영화를 등록합니다.</h2>

<html>
<head>
    <title>영화 등록 </title>

    <script language="javascript">
   
        function NewPopup()
        {
            var sDate = document.getElementById("TXT_StartDay").value;
            var eDate = document.getElementById("TXT_EndDay").value;
            window.open("../Movie/SelectTheater?StartDateTime=" + sDate + "&EndDateTime=" + eDate
                , "", "dialogHeight=50px; dialogWidth=300px; resizable=yes;status=yes");
        }
        function SetimagePath() 
        {
            document.getElementById("hidden_imgPath").value = document.getElementById("file").value;
        }
        function addPlaytime()
        {
            document.getElementById("TXT_playtime").value += document.getElementById("TXT_addplayTime").value + "\n";
            document.getElementById("TXT_addplayTime").value = "";
        }
    </script>
</head>
<body>
    <table >
        @using (Html.BeginForm("NewMovie", "Movie", FormMethod.Post, new { enctype = "multipart/form-data"}))
        {
            <tr>
                <td class="h1">영화 제목</td>
                <td>@Html.TextBoxFor(m => m.movie.Moviename)</td>
            </tr>
            <tr>
                <td class="h1">상영 시작일시</td>
                <td>@Html.TextBoxFor(m => m.movie.Playstartdatetime, new { id = "TXT_StartDay" })</td>
            </tr>
            <tr>
                <td class="h1">상영 종료일시</td>
                <td>@Html.TextBoxFor(m => m.movie.Playenddatetime, new { id = "TXT_EndDay" })</td>
            </tr>
            <tr>
                <td class="h1"> <button type="button" onclick=NewPopup()>상영관 검색 </button> </td>
                <td>@Html.TextBoxFor(m => m.theater.TheaterID, new { id = "TXT_theaterID", @readonly = true})</td>
                <td class="h1">* 상영일시를 입력하세요.</td>
            </tr>
            <tr>
                <td class="h1">상영관이미지</td>
                <td>
                    @Html.HiddenFor(m => m.movie.Movieposter, new { id = "hidden_imgPath" })
                    <input type="file" name="file" id="file" onchange=SetimagePath() />
                </td>
            </tr>
            <tr>
                <td class="h1">관람등급</td>
                <td>@Html.TextBoxFor(m => m.movie.Viewingclass)</td>
            </tr>
            <tr>
                <td class="h1">Run Time</td>
                <td>@Html.TextBoxFor(m => m.movie.Runningtime)</td>
            </tr>
            <tr >
                <td class="h1">상영 시간 목록</td>
                <td height="60">
                    @Html.TextAreaFor(m => m.PlayDayTimes, new { id = "TXT_playtime", @readonly = "False", rows="5"})
                </td>
                <td class="h1">
                    <input type="text" id="TXT_addplayTime"/><br />
                    *Ex)2016-08-24 12:12:30 TO <br />
                        20160824121230
                </td>
                <td>
                    <input type="button" class="button small gray" value="추가" onclick=addPlaytime() />
                </td>
            </tr>
                
            <tr>
                <td></td>
                <td><input type="submit" class="button middle gray" value="추가" />
                </td>
                <td>
                    <input type="button" class="button middle gray" value="돌아가기" onclick="location.href='@Url.Action("MovieList", "Movie")'"/>
                </td>
            </tr>
        }
      
    </table>
    <br />
</body>
</html>